{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <h3>Онлайн твитлар</h3>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Муаллиф</th>
                <th>Пост</th>
                <th>Муаллиф</th>
                <th>Манзил</th>
                <th>Вақти</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5">Бу бўлим дастурлаштирилмоқда. Унгача, худди шундай функцияга эга <a href="http://telegram.me/Uzb25Bot">телеграм ботдан</a> фойдаланиб туришингиз мумкин.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
